.footer {
  display: flex;
  height: 160px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

.footer-item {
  padding: 5px;
}

.footer-icon {
  font-size: x-large;
  cursor: pointer;
}

.footer-copyright {
  font-size: 10px;
}
